*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
header {
	height: 70px;
	border: 1px solid;
}
header h1 {
	 border:1px solid;
	 display: inline-block;
	 float: left;
	 padding: 15x 20px;
	 text-transform: uppercase;
}
header ul {
	border: 1px solid;
	float: right;

}
header ul li {
	border: 1px solid;
	padding: 24px;
	display: inline-block;
}
header ul li a {
	transition: .3s;
}
header ul li a:hover {
	color: #F84744;
}
a {
	text-decoration: none;
}
.container {
	width: 90%;
	margin: 0 auto;
	border: 1px solid;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	padding:18px;
	border:1px solid;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}

}
.sidebar ul li a {
	color: #fff;
}

.sidebar ul li:hover {
	background-color: #F84744;
}

@media (max-width: 768px){
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
}
